.idea/
*.iml
.vscode/
node_modules/
build
.DS_Store
*.tgz
my-app*
template/src/__tests__/__snapshots__/
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
/lib
/package-lock.json
/dist


coverage
.nyc_output
.DS_Store
*.log
.vscode
dist
compiled
.awcache
.rpt2_cache
docs
